body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #b5c0da;
}

#body-pacient, #body-history{
  background: linear-gradient(135deg, #ffffff, #d9e6f8);
  background-color: #fcfcfc;
  padding-bottom: 250px;
}

a {
  color: #5165ff;
}

table {
  border-collapse: collapse;
}

tr:hover {
  background: #f2f3ff;
  outline: none;
  cursor: pointer;
}

td {
  border: 2px solid #ccd2ff;
  position: relative;
  padding: 18px;
}

.div-goback{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#table-pacient, #table-history{
  margin: 20px 5px;
}

#table-pacient_wrapper{
  width: 100%;
}

