<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
  	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		<title>Fall Detection System</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<div class="container">
		    <div class="row">
		        <div class="col-md-6 col-md-offset-3">
		            <form autocomplete="off" action="#" th:action="@{/associate-patient}"
		                  th:object="${pacienteCuidador}" method="post" class="form-horizontal" role="form">
		                <h2>Associar a paciente</h2>
		                
		                <p>Identificador do paciente<p>
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <input type="text" th:field="*{paciente.id_paciente}" class="form-control"/>
		                    </div>
		                </div>
		                
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <input type="hidden" th:value="${cuidador}" class="form-control" readonly/>
		                    </div>
		                </div>
		
		                
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <button type="submit" class="btn btn-primary btn-block">Associar</button>
		                    </div>
		                </div>
		
		                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
		                <h2><span class="text-warning" th:utext="${warningMessage}"></span></h2>
		
		            </form>
		            
		            <form>
						 <input type="button" value="Voltar" onclick="history.back()">
					</form>
					
		        </div>
		    </div>
		</div>	
	</body>
</html>