<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
  	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		<title>Fall Detection System</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <link th:href="@{/css/my-patients.css}" rel="stylesheet" />
	</head>
	<body>
		<table class="table table-bordered table-striped">
	    	<thead>
				<tr>
			        <th> ID </th>
			        <th> Camera </th>
			        <th> Data e Hora</th>
			    </tr>
			</thead>
			<tbody>
				<tr th:if="${eventoQueda.empty}">
			    	<td colspan="2"> Nenhuma queda registrada </td>
			    </tr>
			    <tr th:each="queda : ${eventoQueda}">
			   		<td><span th:text="${queda.id_evento_queda}"></span></td>
			   		<td><span th:text="${queda.camera.localizacao_camera}"></span></td>
			    	<td><span th:text="${queda.data_hora}"></span></td>
			    </tr>
			</tbody>
		</table>
		<form>
			<input type="button" value="Voltar" onclick="history.back()">
		</form>
	</body>
</html>