<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
  	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="UTF-8">
		<title>Fall Detection System</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<div class="container">
		    <div class="row">
		        <div class="col-md-6 col-md-offset-3">
		            <form autocomplete="off" action="#" th:action="@{/register-patient}"
		                  th:object="${paciente}" method="post" class="form-horizontal"
		                  role="form">
		                <h2>Cadastrar paciente</h2>
		                
		                <p>Nome<p>
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <input type="text" th:field="*{nome}" class="form-control"/>
		                    </div>
		                </div>
		                
		                <p>Aniversário<p>
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <input type="text" th:field="*{aniversario}" class="form-control"/>
		                    </div>
		                </div>
		                
		                <p>Gênero<p>
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <input type="text" th:field="*{genero}" class="form-control"/>
		                    </div>
		                </div>
		                
		                <p>Endereço<p>
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <input type="text" th:field="*{endereco}" class="form-control"/> 
		                    </div>
		                </div>
		                
		                <p>Telefone<p>
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <input type="text" th:field="*{telefone}" class="form-control"/> 
		                    </div>
		                </div>
						
		                <div class="form-group">
		                    <div class="col-sm-9">
		                        <button type="submit" class="btn btn-primary btn-block">Cadastrar paciente</button>
		                    </div>
		                </div>
		
		                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
		
		            </form>
		            
		            <form>
						 <input type="button" value="Go back!" onclick="history.back()">
					</form>
					
		        </div>
		    </div>
		</div>	
	</body>
</html>